@font-face {
  font-family: "iconfont"; /* Project id 2526348 */
  src: url('iconfont.woff2?t=1620125284590') format('woff2'),
       url('iconfont.woff?t=1620125284590') format('woff'),
       url('iconfont.ttf?t=1620125284590') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xingxing:before {
  content: "\e870";
}

.icon-xingxing1:before {
  content: "\e639";
}

