@font-face {
  font-family: "iconfont"; /* Project id 2526348 */
  src: url('iconfont.woff2?t=1621245462054') format('woff2'),
       url('iconfont.woff?t=1621245462054') format('woff'),
       url('iconfont.ttf?t=1621245462054') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-up:before {
  content: "\e6ca";
}

.icon-down:before {
  content: "\e602";
}

.icon-huanyihuan:before {
  content: "\e6a5";
}

.icon-arrow_down:before {
  content: "\e603";
}

.icon-tishi_:before {
  content: "\e656";
}

.icon-xiugai:before {
  content: "\e66f";
}

.icon-word:before {
  content: "\eaed";
}

.icon-pingmu:before {
  content: "\ec6f";
}

.icon-Excel:before {
  content: "\e60e";
}

.icon-tupian:before {
  content: "\e6ce";
}

.icon-liebiaoqiehuan-:before {
  content: "\e62a";
}

.icon-liebiaoqiehuan-1:before {
  content: "\e62b";
}

.icon-biaoqian1:before {
  content: "\e630";
}

.icon-biaoqian:before {
  content: "\e62d";
}

.icon-0-57:before {
  content: "\e608";
}

.icon-xiazai:before {
  content: "\e75d";
}

.icon-delete:before {
  content: "\e63e";
}

.icon-shoucang:before {
  content: "\e600";
}

.icon-yingyong:before {
  content: "\e838";
}

.icon-fenxiang1:before {
  content: "\e601";
}

.icon-icon-quanju-baocuncundang:before {
  content: "\e63f";
}

.icon-tianjiabiaoqian:before {
  content: "\e893";
}

.icon-xiezuo_huaban1:before {
  content: "\e813";
}

.icon-zhongmingming:before {
  content: "\e6a3";
}

.icon-xiaoxi:before {
  content: "\e618";
}

.icon-xingxing:before {
  content: "\e870";
}

.icon-xingxing1:before {
  content: "\e639";
}

